/* Фоновая картинка */
body{
	background-image: url(../img/tree.jpg);
	background-size: 100vw;
	background-repeat: no-repeat;
}

.attention{
	width: 90vw;
	height: 25vw;
	background-color: white;
	border: solid black 0.5vw;
	border-radius: 5vw;
	display: none;
}

/* хэдер */
.header{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 1fr;
	align-items: center;
}
h1{
	font-family: 'ProximaNova';
	font-size: 16pt;
	text-align: center;
	margin-left: 1vw;
}
.sun{
	width: 35vw;
	height: 35vw;
	background-image: url(../img/sun.png);
	background-size: contain;
	background-repeat: no-repeat;
	animation: sun 17s linear infinite;
}

/* блок с играми */
.tree{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-auto-flow: column;
}
.change{
	width: 30%;
}
.hidden {
    visibility: hidden;
}
.start1,
.start2,
.start3{
	width: 100%;
	height: 100%;
}
.star1{
	width: 15vw;
	height: 15vw;
	margin: 25vw 0vw 0vw 1vw;

}
.star2{
	width: 15vw;
	height: 15vw;
	margin: 12vw 0vw 0vw 0vw;

}
.star3{
	width: 10vw;
	margin: 0vw 0vw 0vw 22vw;

}
.container1{
	display: grid;
	height: 50vw;
	grid-template-columns: 1fr 5fr;
}
.container2{
	display: grid;
	height: 50vw;
	grid-template-columns: 5fr 1fr;
}
.container3{
	display: grid;
	height: 50vw;
	grid-template-rows: 1fr 5fr;
}

/* игра 1 */
.game1{
	width: 80vw;
	height: 45vw;
	background-image: url(../img/plane.png);
	background-size: contain;
	background-repeat: no-repeat;
	justify-self: center;
}
.card_game{
	height: 100%;
	margin-right: 2%;
    margin-left: 2%;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr 1fr;
	align-items: center;
	justify-items: center;
}
.card{
	width: 70%;
    height: 70%;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
    transition: transform .5s;
}
.card:active {
	transform: scale(0.97);
	transition: transform .2s;
  }
  .card.flip {
	transform: rotateY(180deg);
  }
.front,
.back{
	width: 100%;
	height: 100%;
	position: absolute;
	backface-visibility: hidden;
}
.front{
	transform: rotateY(180deg);
  }
.card_bl{
	background-image: url(../img/card_bl.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
}
.card_bck{
	background-image: url(../img/card_bck.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
}
.card_gr{
	background-image: url(../img/card_gr.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
}
.card_rd{
	background-image: url(../img/card_rd.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
}
.card_vl{
	background-image: url(../img/card_vl.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
}
.card_yl{
	background-image: url(../img/card_yl.png);
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
}

/* игра 2 */
.game2{
	width: 80vw;
	height: 45vw;
	background-image: url(../img/plane.png);
	background-size: contain;
	background-repeat: no-repeat;
	justify-self: center;
}
.plants{
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 2fr 1fr 2fr;
}
.flower{
	width: 100%;
	padding-top: 2vw;
}
.flower1{
	width: 27vw;
	padding-left: 1vw;
}
.flower2{
	width: 20vw;
}
.flower3{
	width: 31vw;
	padding-right: 1vw;
}

/* игра 3 */
.game3{
	width: 80vw;
	height: 50vw;
	background-image: url(../img/plane.png);
	background-size: contain;
	background-repeat: no-repeat;
	display: grid;
	justify-self: center;
}
#board{
	width: 40vw;
	height: 40vw;
	margin-top: 2vw;
    justify-self: center;
	justify-content: center;
	align-content: center;
	display: flex;
	flex-wrap: wrap;
}
#board img{
	width: 33%;
	height: 33%;
}
